/*author originstamp status style*/
.timestampbox {
    /*float: left;*/
    width: 100%;
    /*margin-right: 2%;*/
    padding: 3px;
    margin-bottom:2px;
    background: #eee;
    /*box-sizing: border-box;*/
    color:white;
    font-weight: bold;
    /*border-bottom:none;*/
    /*border-bottom: 1px dotted black;*/
    /*word-break: break-all;*/

}

.pending {
    background:orange;
    color:black;

}

.success{
    background:green;
    color:white;

}

.nofile{
    background:red;
    color:white;
}

/*the blue descriptions*/
.descriptions{
    margin: 0.25em 1.5em 0.25em 0.5em;
    background-color:lightblue;
    /*border:2px black solid;*/
    padding: 15px;
    font-size: 105%;
}

/*tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
    z-index: 100;
    /*border-bottom: 1px dotted black;*/
}

.tooltip:hover, .tooltiptext:hover {
    z-index:999;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    /*z-index: 1;*/
    bottom: 125%;

    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1000;
    top: -5px;
    right: 105%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*login log style*/
.ip {
    display: inline-block;
    word-break: break-all;
}

/*frontpage information style*/

.img-centered{
    margin-left: auto;
    margin-right: auto;
}


/*frontpage togglebox*/
#accordion section, #accordion .pointer, #accordion h1, #accordion p {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#accordion {
    margin-bottom:30px;
}

#accordion div{
    border-radius: 20px;
}

#accordion h1 {
    line-height:1.2;
    font-size:15px;
    background-color:#E8E8E1;
    margin:0;
    padding: 10px 10px 10px 30px;
}

#accordion h1 a {
    color:black;
    text-decoration: none;
}
#accordion section {
    overflow:hidden;
    /*height:220px;*/
    border:1px #E8E8E1 solid;
    border-radius: 5px;
    padding-bottom:2px;
}
#accordion p {
    padding:0 10px;
    color:black;
}
#accordion section.ac_hidden p:not(.pointer) {
    color:#fff;
}

#accordion section.ac_hidden {
    height:44px;
}
#accordion .pointer {
    padding:0;
    margin:10px 0 0 6px;
    line-height:20px;
    width:13px;
    position:absolute;
}
#accordion section:not(.ac_hidden) h1 {
    background-color:lightgrey;
}

#accordion section:not(.ac_hidden) .pointer {
    display:block;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
    padding:0;
}